<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="category">
      <ion-icon name="list"></ion-icon>
      <ion-label>Category</ion-label>
    </ion-tab-button>    
    <ion-tab-button tab="customer">
      <ion-icon name="people"></ion-icon>
      <ion-label>My Customers</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="order">
      <ion-icon name="reorder-four"></ion-icon>
      <ion-label>Saved Orders</ion-label>
    </ion-tab-button>    
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>

    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
