<div class="header-div">
  <div class="header-block">
    <ion-button (click)="openMenu()" class="btn-menu">
      <ion-icon name="menu" style="font-size: 38px;" color="primary"></ion-icon>
    </ion-button>
    <p class="page-title">{{pageTitle}}</p>
  </div>
  <div class="header-block" style="justify-content: flex-end;">
    <ion-searchbar mode="ios" class="custom-search" inputmode="search" *ngIf="showSearchBar" (ionChange)=onChangeSearchInput($event)></ion-searchbar>
    <ion-button (click)="gotoCategory();" class="btn-menu" style="margin-left: 10px;">
      <ion-icon name="home-outline" style="font-size: 38px;" color="primary"></ion-icon>
    </ion-button>
    <ion-button (click)="gotoCart();" *ngIf="isLoggedIn" class="btn-menu" style="margin-left: 10px;">
      <ion-icon name="cart-outline" style="font-size: 38px;" color="primary"></ion-icon>
    </ion-button>
    <ion-badge id="cart-badge" color="success">{{cartBadgeCount}}</ion-badge>
  </div>  


</div>
<!-- <div class="header-badge-div" *ngIf="hasUnreadOrder">
  <ion-icon name="notifications" class="notification-icon"></ion-icon>
</div> -->