ion-title{
    letter-spacing: 0.1em; 
    font-size: larger;
}
.toolbar{
    height: 90px; 
    align-items: center; 
    justify-content: center; 
    display: flex;
}
.text-component{
    width: 100%;
    text-align: center;
}