<ion-header mode="ios">
  <ion-toolbar class="toolbar">
    <ion-title>Thank you</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back();">
        <ion-icon name="arrow-back-outline" style="font-size: 38px;" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="text-component">
    <h1 style="margin-bottom: 40px;">Thank you for placing your order with LaVida Trading.</h1>
    <p>Our estimated dispatch time is approximately 2-3 working days. </p>
    <p>If your order is required for a certain date or you have special delivery instructions please call the office on 02 43 400 411 or email Olivia at <span style="color: rgb(15, 112, 156);">orders@lavida.com.au</span>.</p>
    <p>If you are required to make payment please do so ASAP to ensure that there is no delay in dispatching.</p>
    <p>PLEASE ADVISE OF ANY ADDRESS CHANGES <span style="color: rgb(15, 112, 156);">orders@lavida.com.au</span>.</p>
  </div>    
</ion-content>
