<ion-header mode="ios">
  <app-header
    [pageTitle]="pageTitle"
    [cartBadgeCount]="cartBadgeCount"
    [isLoggedIn]="isLoggedIn">
  </app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" *ngFor="let item of savedOrderList; let saveorderIndex = index">
      <ion-col size="11" class="ion-text-center">
        <ion-item >
          <ion-label> {{item.orderDate}}</ion-label>  
          <ion-button  *ngIf="item.expanded" slot="end" class="button-plus" (click)="getSavedOrderDetails(item, saveorderIndex)">
            <ion-icon name="remove-outline" style="font-size: 32px;"></ion-icon>
          </ion-button>       
          <ion-button  *ngIf="!item.expanded" slot="end" class="button-plus" (click)="getSavedOrderDetails(item, saveorderIndex)">
            <ion-icon name="add-outline" style="font-size: 32px;"></ion-icon>
          </ion-button>             
        </ion-item>
        <app-expandable [expandHeight]="expandHeight" [expanded]="item.expanded">
          <ion-grid class="ion-text-center">

            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col size="2">{{item.detail_orderdate }}</ion-col>
              <ion-col size="10">
                <ion-row class="header-text ">
                  <ion-col size="3">SKU</ion-col>
                  <ion-col size="7">Product Name</ion-col>
                  <ion-col size="2">Quantity</ion-col>
                </ion-row>
                <ion-row *ngFor="let details_Item of item.details" class="ion-padding-vertical">
                  <ion-col size="3">{{details_Item.productCode}}</ion-col>
                  <ion-col size="7">{{details_Item.productName}}</ion-col>
                  <ion-col size="2">{{details_Item.productQty}}</ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div class="button-div">
            <ion-button  class="button-merge" mode="ios" fill="solid"  expand="block" (click)="mergeOrder(item)">Merge Order</ion-button>
            <ion-button  class="button-merge" mode="ios" fill="solid"  expand="block" (click)="regenerateOrder(item)">Regenerate Order</ion-button>
            <ion-button  class="button-delete" mode="ios" fill="solid"  expand="block" (click)="deleteSavedOrder(item, saveorderIndex)">Delete Saved Order</ion-button>
          </div>
        </app-expandable>
      </ion-col>
    </ion-row>    
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
