.button-plus{
    width: 40px;
    height: 40px;
    --background: transparent;
    --color: black;
    --border-color : #808080;
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 50%;
}